# Pandas

### Open Source Workshop

In [1]:
import pandas as pd 
import numpy as np

### Data inlezen 

Data inlezen uit csv bestand

In [2]:
df = pd.read_csv('C:\\Users\\RC3769S\\Documents\\OSW_Pandas\\Kernindicatoren.csv', delimiter=',', header='infer', index_col=None, skiprows=0, error_bad_lines=True)

Ingelezen data weergeven

In [3]:
df.head(5)

,Instrument,InstrumentSub,Sector,Periode,waarde
0,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-01,178744.0
1,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-02,179109.0
2,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-03,179189.0
3,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-04,180772.0
4,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-05,180102.0

kolom namen weergeven

In [4]:
df.columns

Index(['Instrument', 'InstrumentSub', 'Sector', 'Periode ', 'waarde'], dtype='object')

specifieke kolom selecteren

In [5]:
df['waarde'].tail(10)

4038    1.24
4039    1.18
4040    1.18
4041    1.53
4042    1.14
4043    1.24
4044    1.09
4045    1.20
4046    1.17
4047    1.10
Name: waarde, dtype: float64

In [6]:
col = df.columns
df[col[4]].tail(10)

4038    1.24
4039    1.18
4040    1.18
4041    1.53
4042    1.14
4043    1.24
4044    1.09
4045    1.20
4046    1.17
4047    1.10
Name: waarde, dtype: float64

Data types weergeven

In [7]:
df.dtypes

Instrument        object
InstrumentSub     object
Sector            object
Periode           object
waarde           float64
dtype: object

Data type wijzigen

Voor  wijzigen naar numerieke data gebruik pd.to_numeric(df[kolom], errors='coerce'), voor string gebruik df['kolom'].astype(str)

Voor format string zie: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [8]:
df['Periode '] = pd.to_datetime(df['Periode '],format='%Y-%m',errors='coerce',)
df.head(5)

,Instrument,InstrumentSub,Sector,Periode,waarde
0,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-01-01,178744.0
1,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-02-01,179109.0
2,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-03-01,179189.0
3,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-04-01,180772.0
4,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-05-01,180102.0

In [9]:
df.dtypes

Instrument               object
InstrumentSub            object
Sector                   object
Periode          datetime64[ns]
waarde                  float64
dtype: object

Spaties verwijderen

In [10]:
df.columns = df.columns.str.strip()
df['Periode'].head(5)

0   2003-01-01
1   2003-02-01
2   2003-03-01
3   2003-04-01
4   2003-05-01
Name: Periode, dtype: datetime64[ns]

Data inlezen uit Excel

In [13]:
xls_file = pd.ExcelFile('kernindicatoren.xlsx')
df = pd.read_excel(xls_file,sheet_name='Data', usecols='A, B, C, D, E') #sheet_name=None for all sheets
df.head(5)

,Instrument,InstrumentSub,Sector,Periode,waarde
0,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-01,178744.0
1,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-02,179109.0
2,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-03,179189.0
3,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-04,180772.0
4,Zakelijke kredietverlening,Uitstaande bedragen (mln euro's),Niet-financiële bedrijven,2003-05,180102.0

Data inlezen uit een JSON

In [12]:
df = pd.read_json('Kernindicatoren.json', orient='records')
df.columns = df.columns.str.strip()
df['Instrument'] = df['Instrument'].str.strip()
df['InstrumentSub'] = .str.strip()
df['Sector'] = df['Sector'].str.strip()
df.head(10)

SyntaxError: invalid syntax (<ipython-input-12-be15957988bc>, line 4)

### Data schonen 

Fouten uit data halen

Informatie over het dataframe ophalen

In [ ]:
df.info(verbose=True)

Cellen met ongeldige waardes identificeren

In [ ]:
df['waarde'] = pd.to_numeric(df['waarde'], errors='coerce')
df.isna().sum()

Cellen met ongeldige waardes verwijderen, voor het vullen van nan's gebruik df.fillna(x), waarin x de waarde voor de nan is

In [ ]:
df.dropna(how='any', thresh=1, axis=0, subset=['waarde','Instrument'], inplace=False).head(10)

NaN waardes interpoleren

In [ ]:
df.head(15).interpolate(method='spline', order=2, limit=5, limit_direction='both', limit_area='inside')

Identieke rijen verwijderen

In [ ]:
print("Aantal rijen voor verwijderen {}".format(len(df)))
df.drop_duplicates(inplace=True)
print("Aantal rijen na verwijderen {}".format(len(df)))

Basis statistieken voor de data weergeven (numerieke kolommen)

In [ ]:
df.describe()

of handmatig

In [ ]:
print(df.quantile(q=0.9))
print(df.max())

Data afronden

In [ ]:
df.round({'waarde' : -1}).head(5)

Data discreet maken

In [ ]:
pd.cut(df['waarde'], bins=[0,1e1,1e2,1e3,1e4,1e5,1e6,1e7],precision =2, retbins=True,  duplicates='drop')[0].head(5)

### Data indexeren en combineren 

Data indexeren op basis van labels of een boolean index

In [ ]:
df.loc[df['InstrumentSub'].isna()]

In [ ]:
df.loc[df['Periode ']=='2006-06']

Data selecteren aan de hand van een integer index

In [ ]:
df.iloc[45:55,1:3]

Een enkel element selecteren

In [ ]:
df.at[48,'waarde']

Chain indexing, een subset van een subset van de data bekijken (niet gebruiken voor het toewijzen van data in een dataframe!)

In [ ]:
df.loc[df['Periode']=='2006-06'].loc[:,'waarde']

Filteren met behulp van Python syntax

In [ ]:
df2 = df.dropna()
df2[np.bitwise_and(np.bitwise_and(
                           np.array(['hypot' in x for x in df2['Instrument'].str.lower()])
                          ,np.array(['rente' in x for x in df2['InstrumentSub'].str.lower()]))
                  ,np.bitwise_or((df2['waarde'] >= 5.5)
                                ,(df2['waarde'] < 2)))]

De index opnieuw aanmaken

In [ ]:
df2 = df.set_index(['Instrument','InstrumentSub','Sector','Periode'],append=False)
df2.head(20)

De index gebruiken voor het selecteren

In [ ]:
df2.loc['Consumptief krediet',:,'Huishoudens','2006-06' ]

Index maken en aanvullen

In [ ]:
df['Periode'] = pd.to_datetime(df['Periode'],format='%Y-%m',errors='coerce',)
df2 = df.set_index('Periode').head(20).reindex(pd.date_range('1/1/2002', periods=240, freq='MS'))
print(df2.loc['2002-05-01'])
print('')
print(df2.loc['2003-05-01'])

Verschillende dataframes aan elkaar toevoegen

In [ ]:
df1 = df.tail(10)
df2 = df.head(10)
df1.append(df2, ignore_index=False, sort=False)

Databronnen die samengevoegd moeten worden

In [ ]:
raw_data_a = {
        'account_id': ['0', '1', '2', '3', '4'],
        'datum': ['2009-12', '2010-01', '2009-12', '2010-01', '2010-01'],
        'type': ['Consumptief krediet', 'Woninghypotheken', 'Zakelijke kredietverlening', 'Woninghypotheken', 'Zakelijke kredietverlening'],
        'initieel bedrag': [5218, 268000, 30000, 415000, 235400]}
df_a = pd.DataFrame(raw_data_a, columns = ['account_id', 'datum', 'type', 'initieel bedrag'])
print(df_a)
print('')
raw_data_b = {
        'account_id': ['0', '0', '1', '3', '0', '2', '1', '3', '3', '2','5'],
        'datum': ['2009-12', '2010-01', '2010-01', '2010-01', '2010-01', '2010-01', '2010-02', '2010-02', '2010-02', '2010-02', '2010-02'],
        'afbetaling': [211, 516, 245, 189, 520, 110, 548, 328, 1065, 985, 1050],
        'type': ['standaard', 'standaard', 'standaard', 'standaard', 'extra', 'standaard', 'standaard', 'standaard', 'extra', 'standaard', 'standaard']}
df_b = pd.DataFrame(raw_data_b, columns = ['account_id', 'datum', 'afbetaling','type'])
print(df_b)

Samenvoegen van tabellen via merge

In [ ]:
pd.merge(df_a, df_b, how='outer', left_on=['account_id', 'datum'], right_on=['account_id', 'datum'],suffixes=('_a', '_b'),indicator=True)

### Data analyseren 

Data sorteren

In [ ]:
df.sort_values(by=['Periode','Sector'], ascending=True, na_position='last').tail(15)

Kolom toevoegen

In [ ]:
df['waarde - 10'] = df['waarde'] - 10 
df.head(5)

Kolommen of rijen laten vallen

In [ ]:
df.drop(columns=['waarde - 10'], inplace=True)
df.head(5)

Pivot tabel maken

In [ ]:
pd.pivot_table(df, values=['waarde'], index=['Periode', 'InstrumentSub'], aggfunc={'waarde': [min, max, sum]}).tail(20)

Maken van een lopend gemiddelde

In [ ]:
df_uitstaande = df[df['InstrumentSub']=='Uitstaande bedragen (mln euros) '].copy()
df_uitstaande['lopende gemiddelde'] = df_uitstaande['waarde'].rolling(6, min_periods=4).mean()
df_uitstaande.head(12)

Data combineren uit verschillende dataframes

In [ ]:
df_a = df_uitstaande.copy()
df_a = df_a.set_index(['Instrument','InstrumentSub','Sector','Periode'],append=False)

df_b = df_uitstaande.copy()
df_b = df_b.set_index(['Instrument','InstrumentSub','Sector','Periode'],append=False)
df_b['waarde'] = df_b['lopende gemiddelde']

df_a.combine(df_b, np.minimum, fill_value = 8).head(10)

Aantal keren tellen dat een waarde voorkomt

In [ ]:
df['waarde'].value_counts(bins=10,dropna=True,normalize=True)

Data grouperen

In [ ]:
df.groupby(['Instrument','InstrumentSub']).agg({'waarde': [np.min, np.max, np.mean]})

Berekeningen toepassen op elke rij/kolom

In [ ]:
df.apply(
    lambda x: [x['waarde'] + 3, 1] if x['Periode'] < pd.to_datetime("2015-01-01") else [x['waarde']-3, -1]
    , axis=1, raw=True, result_type='expand')

Over de rijen van een dataframe ittereren

In [ ]:
for index, row in df.iterrows():
    if index % 1000 == 0:
        df.at[index,'waarde'] = 0
        print(row)

Data plotten

In [ ]:
df['waarde'].plot()

In [ ]:
df_a = df[df['Instrument']=='Woninghypotheken'].dropna()
df_a = df_a[df_a['InstrumentSub'].str.contains('Rente op uit')].set_index('Periode')

df_b = df[df['Instrument']=='Zakelijke kredietverlening'].dropna()
df_b = df_b[df_b['InstrumentSub'].str.contains('Rente op uit')].set_index('Periode')

df_c = pd.merge(df_b,df_a, how='inner', left_on=['Periode'], right_on=['Periode'], suffixes=('_c','_b'))
df_c.plot.scatter(x='waarde_c',y='waarde_b', alpha=0.5)

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [10, 5]
df[df['Periode ']=='2010-06'].plot.bar(y='waarde',x='InstrumentSub')

In [ ]:
df.drop(columns=['Periode']).plot.hist(bins=20, density=False)

### Data wegschrijven 

Data die je in Python heb gebruikt wegschrijven om later weer te gebruiken of in andere programma's te gebruiken

Data wegschrijven om later te gebruiken

In [ ]:
df.to_pickle('results.pkl')

Data wegschrijven als een csv

In [ ]:
df.to_csv('results.csv', index=False, decimal=',', sep='\t')

Data wegschrijven naar Excel

In [ ]:
with pd.ExcelWriter('results.xlsx') as writer:  
    df[df['Instrument']=='Woninghypotheken'].to_excel(writer, sheet_name='Woninghypotheken')
    df[df['Instrument']=='Zakelijke kredietverlening'].to_excel(writer, sheet_name='Zakelijke kredietverlening')